<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21440400816-dge2puj0sjgrj5cllvppe2evljcni4v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21440400816-dge2puj0sjgrj5cllvppe2evljcni4v6</string>
	<key>API_KEY</key>
	<string>AIzaSyBmYtxfeKtiZdivnccTY6nFF_UMGL_fcSc</string>
	<key>GCM_SENDER_ID</key>
	<string>21440400816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ditp.ditpone</string>
	<key>PROJECT_ID</key>
	<string>ditp-one</string>
	<key>STORAGE_BUCKET</key>
	<string>ditp-one.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21440400816:ios:7662936c9e111c63661a75</string>
	<key>DATABASE_URL</key>
	<string>https://ditp-one.firebaseio.com</string>
</dict>
</plist>